.floatbox {
  float: left;
}

.overflow_hidden {
  overflow: hidden;
}

.gravatar {
  float: left;
  position: relative;
  margin-right: 5px;
}

.user_name {
  float: left;
}

.upper {
  width: 100%;
  overflow: hidden;
}

.bottom {
  width: 100%;
  overflow: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.round {
  border-radius: 5px;
  border: 1px solid #999;
}

.gray_font {
  color: #999;
}

.fontsize-14 {
  font-size: 14px !important;
}

.fontsize-24 {
  font-size: 24px !important;
}

.fontsize-12 {
  font-size: 12px !important;
}

.m-bottom-0 {
  margin-bottom: 0px !important;
}

.m-bottom-10 {
  margin-bottom: 10px !important;
}

.m-bottom-20 {
  margin-bottom: 20px !important;
}

.m-bottom-40 {
  margin-bottom: 40px !important;
}

.m-top-20 {
  margin-top: 20px !important;
}

.no-padding {
  padding: 0px;
}

.no-dot {
  list-style-type: none;
}

.no-border {
  border: none !important;
}

.bottom-5pxsolid {
  border-bottom: 5px solid #ccc !important;
  width: 80%;
}

.bgcolor-gray {
  background-color: #eee;
}

.vertical-align-center {
  display: flex;
  align-items: center !important;
}

.height-50 {
  height: 50px !important;
}

.height-65 {
  height: 65px;
}

.height-85 {
  height: 85px;
}
