.cost_list_header {
  width: 800px;
  margin-top: 20px;
  overflow: hidden;
  border-top: 1px solid;
}

.cost_list {
  overflow: hidden;
  width: 800px;
}

.cost_name {
  padding: 5px;
  width: 100px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
}

.cost_description {
  padding: 5px;
  width: 300px;
  border-bottom: 1px solid;
  border-right: 1px solid;
}

.cost_cost {
  padding: 5px;
  width: 100px;
  border-bottom: 1px solid;
  border-right: 1px solid;
}

.cost_category {
  padding: 5px;
  width: 100px;
  border-bottom: 1px solid;
  border-right: 1px solid;
}

.cost_payee {
  padding: 5px;
  width: 100px;
  border-bottom: 1px solid;
  border-right: 1px solid;
}

.cost_order_date {
  padding: 5px;
  width: 100px;
  border-bottom: 1px solid;
  border-right: 1px solid;
}

.cost_category {
  padding: 5px;
  border-bottom: 1px solid;
  width: 100px;
}

.cost_graph {
  margin-top: 20px;
}

.team_members {
  margin-top: 20px;
}

.list_member {
  overflow: hidden;
}

.aggregation_term {
  margin-top: 20px;
}

