.sale_detail-list {
  height: 45px;
  max-width: 800px;
}

.sale_detail-header {
  height: 45px;
  max-width: 800px;
}

.sale_detail-header-elem {
  width: 100px;
}

.sale_detail-name {
  width: 100px;
}

.sale_detail-description {
  width: 100px;
}

.sale_detail-value {
  width: 100px;
}

.sale_detail-category {
  width: 100px;
}

.sale_detail-order_date {
  width: 100px;
}

